.main-container {
	height: 100vh;
	background-size: cover;
	background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.hero-logo {
	border-radius: 50%;
	width: 180px;
}

.navbar-container {
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-header {
    color: white;
    background-color: rgba(39, 39, 39, 0.449);
}
